<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= 'xAlerts' %></title>  
  <link href="/css/style.css" rel="stylesheet"> 
  <link href="/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet"> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
  <script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    

</head>  
<body>  

  <header>  
    <hgroup>  
      <h1><a href="/">xAlerts</a></h1>  
      <h2>
        Waiting for a good exchange rate to change your holiday euros? 
        <br />
        Get an email alert as soon as the exchange rate improves...
      </h2>      
    </hgroup>  
  </header>  

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
        <p><%= value %></p>
    </div>
  <% end %>

  <%= yield %> 
  

  <script>
  $(function() {
    var spinner = $( ".spinner" ).spinner();
  });
  </script>


</body>
</html>
